<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="paper">
	<div id="app">
		<h1>แม่สูตรคูณ</h1>
		<input type="number" v-model="n">
		<input type="number" v-model="row">
		<div class="space"></div>
		<h3 class="Head">สูตรคูณแม่ {{n}}</h3>
		<br>
		<h4 class="All" 
		v-for="i in r"
		>{{n}} x {{i}} = {{x(i)}} </h4>
		<br>
		<h3 style="font-size: 20px "
		>ผลบวกทั้งหมดคือ {{sum(row)}}</h3>

	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				n: 2,
				row:12
			},
			methods:{
				x: function(row){
					return this.n*row
				},
				sum: function(row){
					a = 0
					for (var i = 1;i<=row;i++){
						a += (this.n * i)
					}
					return a
				}
			},
			computed:{
				r: function(){
					return parseInt(this.row)
				},
				x2: function(){
					return this.n*2
				},
				x3: function(){
					return this.n*3
				},
				x4: function(){
					return this.n*4
				},
				x5: function(){
					return this.n*5
				},
				x6: function(){
					return this.n*6
				},
				x7: function(){
					return this.n*7
				},
				x8: function(){
					return this.n*8
				},
				x9: function(){
					return this.n*9
				},
				x10: function(){
					return this.n*10
				},
				x11: function(){
					return this.n*11
				},
				x12: function(){
					return this.n*12
				}
			}
		})
	</script>
</body>
</html>